# === VolcEngine (Doubao) ===
ARK_API_KEY=

# === Ali Audio ===
ALI_AUDIO_AK=
ALI_AUDIO_SK=
ALI_AUDIO_APP_KEY=

# === DeepSeek ===
DEEPSEEK_API_KEY=

# === Pexels ===
PEXELS_API_KEY=

# === Huawei ===
HUAWEI_CES_AK=
HUAWEI_CES_SK=
HUAWEI_OBS_AK=
HUAWEI_OBS_SK=

# === Tencent ===
TENCENTCLOUD_SECRET_ID=
TENCENTCLOUD_SECRET_KEY=

# === OpenRouter ===
OPEN_ROUTER_KEY=
